%h1 Log in
= form_tag sessions_path, class: "box" do
  %fieldset.boxBody
    = label_tag :email
    %br/
    = email_field_tag :email, params[:email]
    = label_tag :password
    %br/
    = password_field_tag :password
  %footer
    = submit_tag "Submit", class: "btnSubmit"
