<h1>Log in</h1>

<%= form_tag sessions_path, :class => "box" do %>
  <fieldset class="boxBody">
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>

    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </fieldset>
  <footer>
    <%= submit_tag "Submit", :class => "btnSubmit" %>  
  </footer>
<% end %>

