<div class="comment" id="comment_<%= element_counter+1 %>">
	<p class="meta">
		<span class="date">
			<%= l element.created_at, :format => :short %>
			<% if current_user == element.post.user %>
				<%= link_to 'Remove', [element.post, element], :confirm => 'Are you sure?', :method => :delete %>
        	<% end %>
        </span>
		<span class="posted">Written by <%= element.user.blank? ? element.username : link_to(element.user.username, element.user) %></span>
		<br />
	</p>
	<p><%= element.content %></p>
</div>