= form_for [post, comment], html: { class: "box" } do |f|
  - if comment.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - for message in comment.errors.full_messages
          %li= message
  %fieldset.boxBody
    - unless current_user
      = f.label :user_email
      %br/
      = f.text_field :user_email, class: "input_text", required: "required"
      = f.label :username
      %br/
      = f.text_field :username, class: "input_text", required: "required"
    = f.label :content
    %br/
    = f.text_area :content, class: "txtField", required: "required"
  %footer
    = f.submit "Submit", class: "btnSubmit"
