%h1 Sign Up
= form_for @user, html: { class: "box" } do |f|
  - if @user.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - for message in @user.errors.full_messages
          %li= message
  %fieldset.boxBody
    = f.label :email
    %br/
    = f.email_field :email
    = f.label :username, pattern: ".{3,25}"
    %br/
    = f.text_field :username
    = f.label :password, pattern: ".{6,}"
    %br/
    = f.password_field :password
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %footer
    = f.submit "Submit", class: "btnSubmit"
