<div id="search">
	<%= form_tag search_tags_path do %>
		<input id="search-text" type="text" value="" name="s" placeholder="Search for tag...">
		<input id="search-submit" type="submit" value="GO">
	<% end %>
</div>

<div id="buttons">
	<% if current_user %>
		<%= link_to "Sign-out", log_out_path, :class=>"button-link" %>
	<% else %>
		<%= link_to "Sign-up", sign_up_path, :class=>"button-link" %>
		or
		<%= link_to "Sign-in", log_in_path, :class=>"button-link" %>
	<% end %>
</div>

<%= render "admin_sidebar" if current_user %>

<h2>Authors</h2>
<ul>
	<% active_authors.each do |user| %>
		<li><%= link_to user.username, user %></li>
	<% end %>
</ul>

<h2>Last comments</h2>
<ul>
	<%= render :partial => "comments/comment", :collection => last_comments %>
</ul>