- @posts.each do |post|
  %h1= link_to post.title, post
  %p.meta
    %span.date= l post.created_at, format: :short
    %span.posted
      Posted by
      = link_to_unless_current post.user_username, user_path(post.user)
    %br/
    - unless post.tags.blank?
      %span.tags
        TAGS:
        - post.tags.each do |tag|
          %span.tag= link_to_unless_current tag.name, tag
  .entry
    .truncated
      = post.content.html_safe
    %nav
      = link_to "Read More", post, class: "more"
      = link_to "Comments", post_path(post)+"#comments", class: "more"
  %div{style: "clear:both;"}
  %hr/
= paginate @posts