<% @posts.each do |post| %>
	<h1><%= link_to post.title, post %></h1>
		<p class="meta">
			<span class="date"><%= l post.created_at, :format => :short %></span>
			<span class="posted">Posted by <a href="#"><%= post.user_username %></a></span>
			<br />
			<% unless post.tags.blank? %>
				<span class="tags">TAGS: 
					<% post.tags.each do |tag| %>
						<span class="tag"><%= link_to tag.name, tag %></span>
					<% end %>
				</span>
			<% end %>

		</p>

		<div class="entry">
			<%= truncate(post.content, :length => 600).html_safe %>

			<nav>
				<%= link_to "Read More", post, :class => "more" %>
				<%= link_to "Comments", post_path(post)+"#comments", :class => "more" %>
			</nav>
		</div>
		<hr>
<% end %>

<%= paginate @posts %>

