<h1><%= @post.title %></h1>

<p class="meta">
	<span class="date"><%= l @post.created_at, :format => :short %></span>
	<span class="posted">Posted by <%= link_to @post.user_username, @post.user %></span>
	<br />
	<% unless @post.tags.blank? %>
		<span class="tags">TAGS: 
			<% @post.tags.each do |tag| %>
				<span class="tag"><%= link_to tag.name, tag %></span>
			<% end %>
		</span>
	<% end %>
</p>

<div class="entry">
	<%= @post.content.html_safe %>					
</div>
<div style="clear:both;"></div>
<hr />
<a name="comments"></a>
<div class="comments">
	<h1>Comments - <%= @post.comments.size %></h1>
	<%= render :partial => "comments/element", :collection => @post.comments %>
</div>
<a name="add-comment"></a>
<div id="add_comment">
	<h1>Add your comment</h1>
	<%= render "comments/form", :post => @post, :comment => @post.comments.build %>
</div>

