<!DOCTYPE html>
<html>
<head>
  <title>Weblog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= auto_discovery_link_tag(:atom, "/feeds.atom") %>
  <script type='text/javascript'>window.q=[];window.$=function(f){q.push(f)}</script>
  <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <%= csrf_meta_tags %>
</head>
	<body>
		<!-- Define Header -->
		<header>
			<%= render "shared/header" %>
		</header>
		<!-- End Header -->

		<div id="main">
			<!-- Sidebar -->
			<aside class="column">
				<%= render "shared/sidebar" %>
			</aside>
			<!-- End Sidebar -->
			<!-- Main content area -->
			<section class="column">
				<div id="content">
					<% flash.each do |name, msg| %>
					  <%= content_tag :div, msg, :id => "flash_#{name}" %>
					<% end %>

					<%= yield %>
				</div>
			</section>
		</div>
		<!-- End of Main content area -->
		<div style="clear:both;"></div>
		<!-- Footer -->
		<footer>Copyright (c) 2012 Sitename.com. All rights reserved. Design by Michal Ostrowski.</footer>
		<!-- End of Footer -->
		<%= javascript_include_tag "application" %>
		<script>
  			$.each(q,function(i,f){$(f)});
		</script>
	</body>
</html>
